In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json 
from pandas.io.json import json_normalize

In [34]:
businesses = pd.read_csv('Business_Licenses.csv')

In [3]:
businesses.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION
0,22308-20060816,1723393,29481,1,BELL OIL TERMINAL INC,Bell Oil Terminal LLC,3741 S PULASKI RD 1,CHICAGO,IL,60623,...,08/16/2006,08/15/2007,08/10/2006,08/11/2006,AAI,NaN,NaN,41.825320,-87.723960,"(41.82531992987547, -87.72395999659746)"
1,1620668-20160516,2455262,295026,1,BUCCI BIG & TALL INC.,BUCCI BIG & TALL INC.,558 W ROOSEVELT RD,CHICAGO,IL,60607,...,05/16/2016,05/15/2018,05/18/2016,08/30/2016,AAI,NaN,NaN,41.867339,-87.641590,"(41.86733856638269, -87.64159005699716)"
2,2368602-20160616,2460909,291461,3,"PROJECT: VISION , INC.","PROJECT : VISION , INC",2301 S ARCHER AVE 1 1,CHICAGO,IL,60616,...,06/16/2016,06/15/2017,06/21/2016,06/22/2016,AAC,08/30/2016,NaN,41.850843,-87.638734,"(41.85084294374687, -87.63873424399071)"
3,2060891-20141016,2353257,357247,1,FOLASHADE'S CLEANING SERVICE INC.,FOLASHADE'S CLEANING SERVICE INC.,1965 BERNICE RD 1 1SW,LANSING,IL,60438,...,10/16/2014,10/15/2016,04/01/2016,04/01/2016,AAI,NaN,38.0,41.951316,-87.678586,"(41.95131555606832, -87.67858578019546)"
4,1144216-20070516,1804790,147,63,WALGREEN CO.,Walgreens # 05192,9148 S COMMERCIAL AVE 1ST,CHICAGO,IL,60617,...,05/16/2007,05/15/2008,05/10/2007,05/11/2007,AAI,NaN,5.0,41.728622,-87.551366,"(41.72862173556932, -87.55136646594693)"

In [4]:
# clean latitude and longitude columns

#dropnans 
businesses = businesses[np.isfinite(businesses['LONGITUDE'])]
businesses = businesses[np.isfinite(businesses['LATITUDE'])]

In [5]:
#Change all dates to datetime format
businesses['LICENSE TERM START DATE'] = pd.to_datetime(businesses['LICENSE TERM START DATE'], format='%m/%d/%Y')
businesses['LICENSE TERM EXPIRATION DATE'] = pd.to_datetime(businesses['LICENSE TERM EXPIRATION DATE'], format='%m/%d/%Y')
businesses['APPLICATION CREATED DATE'] = pd.to_datetime(businesses['APPLICATION CREATED DATE'], format='%m/%d/%Y')
businesses['APPLICATION REQUIREMENTS COMPLETE'] = pd.to_datetime(businesses['APPLICATION REQUIREMENTS COMPLETE'], format='%m/%d/%Y')
businesses['PAYMENT DATE'] = pd.to_datetime(businesses['PAYMENT DATE'], format='%m/%d/%Y')
businesses['LICENSE APPROVED FOR ISSUANCE'] = pd.to_datetime(businesses['LICENSE APPROVED FOR ISSUANCE'], format='%m/%d/%Y')
businesses['DATE ISSUED'] = pd.to_datetime(businesses['DATE ISSUED'], format='%m/%d/%Y')
businesses['LICENSE STATUS CHANGE DATE'] = pd.to_datetime(businesses['LICENSE STATUS CHANGE DATE'], format='%m/%d/%Y')

In [6]:
businesses.size

30577254

In [7]:
businesses.columns

Index(['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP CODE',
       'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'LICENSE CODE',
       'LICENSE DESCRIPTION', 'BUSINESS ACTIVITY ID', 'BUSINESS ACTIVITY',
       'LICENSE NUMBER', 'APPLICATION TYPE', 'APPLICATION CREATED DATE',
       'APPLICATION REQUIREMENTS COMPLETE', 'PAYMENT DATE',
       'CONDITIONAL APPROVAL', 'LICENSE TERM START DATE',
       'LICENSE TERM EXPIRATION DATE', 'LICENSE APPROVED FOR ISSUANCE',
       'DATE ISSUED', 'LICENSE STATUS', 'LICENSE STATUS CHANGE DATE', 'SSA',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [23]:
(~businesses['BUSINESS ACTIVITY'].isna()).sum()

418146

In [38]:
#Get rid of all nan values in the business dataframe
businesses = businesses.dropna()
#businesses = businesses['BUSINESS ACTIVITY'].dropna()

In [39]:
businesses.size

36210

In [9]:
data = []
with open("Neighborhoods_2012_polygons.json", "r") as json_data:
    data = json.load(json_data)
df = {}
for item in data["features"]:
    if  item["type"] =='Feature':
        if 'properties' in item.keys():
            nn = item.get("properties").get("PRI_NEIGH")
            df[nn] = nn
        if 'geometry' in item:
            coords = item.get('geometry').get('coordinates')
            df[nn] = coords
df_n=pd.DataFrame(pd.Series(df))
df_n.head()
#df_n = pd.DataFrame(pd.split(""))

                                                                    0
Grand Boulevard     [[[-87.60670812560363, 41.81681377137387], [-8...
Printers Row        [[[-87.62760697485339, 41.87437097785366], [-8...
United Center       [[[-87.66706868914592, 41.88885187769542], [-8...
Sheffield & DePaul  [[[-87.65833494805524, 41.921661442291786], [-...
Humboldt Park       [[[-87.74059567509258, 41.88782316893226], [-8...

In [10]:
df_new = pd.DataFrame({'Neighborhood': df_n.index.values, 'Polygons': df_n[0].values})
df_new.head()

         Neighborhood                                           Polygons
0     Grand Boulevard  [[[-87.60670812560363, 41.81681377137387], [-8...
1        Printers Row  [[[-87.62760697485339, 41.87437097785366], [-8...
2       United Center  [[[-87.66706868914592, 41.88885187769542], [-8...
3  Sheffield & DePaul  [[[-87.65833494805524, 41.921661442291786], [-...
4       Humboldt Park  [[[-87.74059567509258, 41.88782316893226], [-8...

In [11]:
df_new['Polygons_tup'] = df_new['Polygons'].apply(lambda x: [tuple(a) for a in x[0]])

In [12]:
df_new.head()

,Neighborhood,Polygons,Polygons_tup
0,Grand Boulevard,"[[[-87.60670812560363, 41.81681377137387], [-8...","[(-87.60670812560363, 41.81681377137387), (-87..."
1,Printers Row,"[[[-87.62760697485339, 41.87437097785366], [-8...","[(-87.62760697485339, 41.87437097785366), (-87..."
2,United Center,"[[[-87.66706868914592, 41.88885187769542], [-8...","[(-87.66706868914592, 41.88885187769542), (-87..."
3,Sheffield & DePaul,"[[[-87.65833494805524, 41.921661442291786], [-...","[(-87.65833494805524, 41.921661442291786), (-8..."
4,Humboldt Park,"[[[-87.74059567509258, 41.88782316893226], [-8...","[(-87.74059567509258, 41.88782316893226), (-87..."

In [13]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

In [83]:

def neighbor_finder(lat, long):
    for index,row in df_new.iterrows():
        poly = row['Polygons_tup']
        if len(poly) >= 3:
            polygon = Polygon(poly)
            point = Point(lat, long)
            if polygon.contains(point):
                neighborhood = row['Neighborhood']
    return neighborhood

In [41]:
long = -87.723960
lat = 41.825320
neighbor_finder(long, lat)

'Little Village'

In [84]:
nhoods = []
for index, row in businesses.iterrows():
    lat = row['LATITUDE']
    long = row['LONGITUDE']
    hood = neighbor_finder(long,lat)
    #print(hood)
    nhoods.append(hood)
    
    
businesses['Neighborhood'] = nhoods

In [85]:
businesses.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION,Neighborhood
3775,2115351-20111128,2115351,366326,1,FARMA INC.,CLARK,11100 S STATE ST 1ST,CHICAGO,IL,60628,...,10/15/2013,11/28/2011,11/28/2011,AAC,05/03/2013,40.0,41.692537,-87.623249,"(41.692537041934436, -87.62324926529826)",Roseland
7256,2428252-20150925,2428252,28998,40,"PARAGON, PARADIGM, PARADOX, INC.",CHICAGO COSTUME,4704 N BROADWAY 1ST,CHICAGO,IL,60640,...,04/15/2017,09/25/2015,09/25/2015,AAC,09/02/2016,34.0,41.967298,-87.658852,"(41.967298486723465, -87.65885177420338)",Uptown
9483,2384888-20150406,2384888,396435,1,"NOOR 71, INC.",CITGO,2801-2813 W 71ST ST 1ST,CHICAGO,IL,60629,...,04/15/2017,04/03/2015,04/06/2015,AAC,10/05/2015,14.0,41.764429,-87.693086,"(41.76442886776059, -87.69308649820891)",Chicago Lawn
14225,2428683-20151020,2428683,401673,1,AYUB MOHAMED,HAWAM INTERNATIONAL TRADING,5238 N WINTHROP AVE 2ND 2E,CHICAGO,IL,60640,...,11/15/2017,10/20/2015,10/20/2015,AAC,09/06/2016,26.0,41.977518,-87.657993,"(41.97751801125337, -87.65799299715734)",Edgewater
16333,2374664-20150113,2374664,395783,1,TRUNG NGUYEN AND PHUONG LUONG,REVAMP NAILS,4717 N LINCOLN AVE,CHICAGO,IL,60625,...,01/15/2017,01/13/2015,01/13/2015,AAC,09/08/2016,21.0,41.967101,-87.687416,"(41.96710140995649, -87.68741615506828)",Lincoln Square

In [22]:
len(nhoods)

13151

In [75]:
businesses.columns

Index(['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP CODE',
       'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'LICENSE CODE',
       'LICENSE DESCRIPTION', 'BUSINESS ACTIVITY ID', 'BUSINESS ACTIVITY',
       'LICENSE NUMBER', 'APPLICATION TYPE', 'APPLICATION CREATED DATE',
       'APPLICATION REQUIREMENTS COMPLETE', 'PAYMENT DATE',
       'CONDITIONAL APPROVAL', 'LICENSE TERM START DATE',
       'LICENSE TERM EXPIRATION DATE', 'LICENSE APPROVED FOR ISSUANCE',
       'DATE ISSUED', 'LICENSE STATUS', 'LICENSE STATUS CHANGE DATE', 'SSA',
       'LATITUDE', 'LONGITUDE', 'LOCATION', 'Neighborhood'],
      dtype='object')

In [ ]:
for i in businesses.index:
        val = businesses.loc[i,'Age']

In [ ]:
businesses['Neighborhood'] = np.nan

In [82]:
businesses.apply(neighbor_finder, axis=0, args = (businesses['LONGITUDE'], businesses['LATITUDE']))

TypeError: ('neighbor_finder() takes 2 positional arguments but 3 were given', 'occurred at index ID')

In [ ]:
len(nhoods)

In [ ]:
businesses.head()

In [ ]:
businesses['BUSINESS ACTIVITY'].head()

In [44]:
businesses['BUSINESS ACTIVITY'].value_counts()

Retail Sales of Perishable Foods                                                                                                                                                                                                                 97
Consumption of Liquor on Premises                                                                                                                                                                                                                85
Preparation of Food and Dining on Premise With Seating                                                                                                                                                                                           72
Retail Sales of General Merchandise                                                                                                                                                                                                              57
Nail Services                                                                                                                                                                                                                                    39
Hair Services                                                                                                                                                                                                                                    37
Retail Sales of Clothing / Accessories / Shoes                                                                                                                                                                                                   35
Sale of Liquor Outdoors on Private Property                                                                                                                                                                                                      31
Sale of Food Prepared Onsite With Dining Area                                                                                                                                                                                                    30
Retail Sales of General Merchandise and Non-Perishable Food                                                                                                                                                                                      26
Tavern - Consumption of Liquor on Premise                                                                                                                                                                                                        20
Retail Sales of General Merchandise and Non-Perishable Food | Retail Sales of Perishable Foods                                                                                                                                                   20
Retail Sales of Tobacco Products                                                                                                                                                                                                                 19
Retail Sales of Cell Phones and Accessories                                                                                                                                                                                                      18
Valet Parking Operator                                                                                                                                                                                                                           17
Administrative Commercial Office                                                                                                                                                                                                                 17
Sale of Food Prepared Onsite Without Dining Area                                                                                                                                                                                                 17
Retail Sale of Tobacco                                                                                                                                                                                                                           14
Retail Sales of General Merchandise | Retail Sales of Perishable Foods                                                                                                                                                                           14
Retail Sales of Tobacco and Flavored Tobacco Products                                                                                                                                                                                            13
Tax Preparation Services                                                                                                                                                                                                                         11
Provide Full Body Massage Services                                                                                                                                                                                                                8
Public Place of Amusement, Provides Entertainment, Room Rentals and Charges a Fee                                                                                                                                                                 8
Retail Sales of Packaged Liquor                                                                                                                                                                                                                   7
Provides Onsite Amusement or Entertainment                                                                                                                                                                                                        7
Miscellaneous Commercial Services                                                                                                                                                                                                                 7
Sale of Liquor Until 4am, Monday - Saturday and 5am on Sunday                                                                                                                                                                                     6
Payment Center | Retail Sales of Cell Phones and Accessories                                                                                                                                                                                      6
Hair, Nail, and Skin Care Services                                                                                                                                                                                                                6
Buying and Reselling of Used Goods - Non Valuable                                                                                                                                                                                                 6
                                                                                                                                                                                                                                                 ..
Acquisition and Improvement of Land/Residential Buildings | Residential Construction | Residential Real Estate Developer (Home Occ)                                                                                                               1
Advertising / Marketing / Sales Office                                                                                                                                                                                                            1
Sale of Art                                                                                                                                                                                                                                       1
Retail Sales of General Merchandise | Fitness Classes                                                                                                                                                                                             1
Deli, Butcher or Bakery | Retail Sales of Perishable Foods                                                                                                                                                                                        1
Retail Sales of Animal Treats and Animal Food | Retail Sales of General Merchandise                                                                                                                                                               1
Marketing / Advertising (Home Occ) | Online Sales (Home Occ)                                                                                                                                                                                      1
Rental of General Merchandise                                                                                                                                                                                                                     1
Skincare Services | Miscellaneous Personal Services | Fitness Classes                                                                                                                                                                             1
Buying and Reselling of Used Children's Products                                                                                                                                                                                                  1
Shared Kitchen User - Long Term                                                                                                                                                                                                                   1
Administrative Commercial Office | Sale of Food Prepared Onsite Without Dining Area                                                                                                                                                               1
Electronic Equipment Repair | Retail Sales of Cell Phones and Accessories                                                                                                                                                                         1
Retail Sales of Tobacco Products | Retail Sales of Tobacco and Flavored Tobacco Products                                                                                                                                                          1
Laundry Service - Drop Off Only                                                                                                                                                                                                                   1
Nail Services | Skincare Services | Provide Full Body Massage Services                                                                                                                                                                            1
Special Event Beer & Wine                                                                                                                                                                                                                         1
5 Day Single - Special Event Food                                                                                                                                                                                                                 1
Retail Sales of General Merchandise | Sale of Furniture | Retail Sales of Clothing / Accessories / Shoes                                                                                                                                          1
After School Program / Tutoring Children Under 18 Years of Age                                                                                                                                                                                    1
Distribution of Tobacco Product Samples to The General Public                                                                                                                                                                                     1
Retail Sales of Clothing / Accessories / Shoes | Retail Sales of General Merchandise and Non-Perishable Food                                                                                                                                      1
Retail Sales of General Merchandise | Photography Services                                                                                                                                                                                        1
Retail Sales of General Merchandise | Training in The Arts of Combat and Self-Defense, Music, Art, Gymnastics, Dance for Adults                                                                                                                   1
Retail Sales of Clothing / Accessories / Shoes | Sale of Furniture                                                                                                                                                                                1
Electronic Equipment Repair | Retail Sales of New Electronics and Accessories | Payment Center                                                                                                                                                    1
Instruction in Dance for Both Children and Adults (Less Than 40% Children)                                                                                                                                                                        1
Online Sales (Home Occ)                                                                                                                                                                                                                           1
Retail Sales of Tobacco Products | Retail Sales of Tobacco Accessories | Retail Sales of Tobacco and Flavored Tobacco Products                                                                                                                    1
Retail Sales of New Electronics and Accessories | Retail Sales of General Merchandise and Non-Perishable Food | Retail Sales of Cell Phones and Accessories | Electronic Equipment Repair | Payment Center | Retail Sales of Used Electronics     1
Name: BUSINESS ACTIVITY, Length: 243, dtype: int64

In [ ]:
businesses['BUSINESS ACTIVITY'].isna().sum()

In [ ]:
(~businesses['BUSINESS ACTIVITY'].isna()).sum()

In [45]:
health = pd.read_csv('Public_Health_Statistics-_Selected_public_health_indicators_by_Chicago_community_area.csv')

In [46]:
health.head()

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.5,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.0,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.8,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.8,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.4,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5

In [47]:
health.columns

Index(['Community Area', 'Community Area Name', 'Birth Rate',
       'General Fertility Rate', 'Low Birth Weight',
       'Prenatal Care Beginning in First Trimester', 'Preterm Births',
       'Teen Birth Rate', 'Assault (Homicide)', 'Breast cancer in females',
       'Cancer (All Sites)', 'Colorectal Cancer', 'Diabetes-related',
       'Firearm-related', 'Infant Mortality Rate', 'Lung Cancer',
       'Prostate Cancer in Males', 'Stroke (Cerebrovascular Disease)',
       'Childhood Blood Lead Level Screening', 'Childhood Lead Poisoning',
       'Gonorrhea in Females', 'Gonorrhea in Males', 'Tuberculosis',
       'Below Poverty Level', 'Crowded Housing', 'Dependency',
       'No High School Diploma', 'Per Capita Income', 'Unemployment'],
      dtype='object')

In [48]:
len(health) - health.count()

Community Area                                 0
Community Area Name                            0
Birth Rate                                     0
General Fertility Rate                         0
Low Birth Weight                               0
Prenatal Care Beginning in First Trimester     0
Preterm Births                                 0
Teen Birth Rate                                0
Assault (Homicide)                             0
Breast cancer in females                       0
Cancer (All Sites)                             0
Colorectal Cancer                              0
Diabetes-related                               0
Firearm-related                                0
Infant Mortality Rate                          0
Lung Cancer                                    0
Prostate Cancer in Males                       0
Stroke (Cerebrovascular Disease)               0
Childhood Blood Lead Level Screening           1
Childhood Lead Poisoning                       1
Gonorrhea in Females                          12
Gonorrhea in Males                             0
Tuberculosis                                   0
Below Poverty Level                            0
Crowded Housing                                0
Dependency                                     0
No High School Diploma                         0
Per Capita Income                              0
Unemployment                                   0
dtype: int64

In [63]:
#Replace nan values with column averages
meanfemgon = health['Gonorrhea in Females'].mean()
health['Gonorrhea in Females'].fillna(meanfemgon, inplace=True)
meanbloodlevel = health['Childhood Blood Lead Level Screening'].mean()
health['Childhood Blood Lead Level Screening'].fillna(meanbloodlevel, inplace=True)
meanlead = health['Childhood Lead Poisoning'].mean()
health['Childhood Lead Poisoning'].fillna(meanlead, inplace=True)

In [67]:
deaths = pd.read_csv('Public_Health_Statistics-_Selected_underlying_causes_of_death_in_Chicago__2006___2010.csv')

In [68]:
deaths.head()

,Cause of Death,Community Area,Community Area Name,Cumulative Deaths 2006 - 2010,Cumulative Deaths Rank,Average Annual Deaths 2006 - 2010,Average Crude Rate 2006 - 2010,Average Crude Rate Lower CI,Average Crude Rate Upper CI,Crude Rate Rank,Average Adjusted Rate 2006 - 2010,Average Adjusted Rate Lower CI,Average Adjusted Rate Upper CI,Adjusted Rate Rank,Average Annual Years of Potential Life Lost (YPLL) Rate 2006 - 2010,YPLL Rate RANK,WARNING
0,All Causes,1,Rogers Park,1741,22.0,348,614.2,585.3,643.1,51.0,895.2,852.2,939.3,29.0,7128,37.0,NaN
1,All Causes,2,West Ridge,2612,5.0,522,723.6,695.8,751.4,42.0,689.9,663.3,717.1,58.0,6123,49.0,NaN
2,All Causes,3,Uptown,2542,6.0,508,879.6,845.4,913.8,31.0,934.0,897.5,971.2,24.0,9147,31.0,NaN
3,All Causes,4,Lincoln Square,1108,40.0,222,547.0,514.8,579.2,60.0,698.7,657.4,741.3,53.0,5344,62.0,NaN
4,All Causes,5,North Center,690,59.0,138,433.0,400.7,465.3,68.0,681.2,630.1,734.3,61.0,4058,74.0,NaN

In [69]:
deaths.columns

Index(['Cause of Death', 'Community Area', 'Community Area Name',
       'Cumulative Deaths 2006 - 2010', 'Cumulative Deaths Rank',
       'Average Annual Deaths 2006 - 2010', 'Average Crude Rate 2006 - 2010',
       'Average Crude Rate Lower CI', 'Average Crude Rate Upper CI',
       'Crude Rate Rank', 'Average Adjusted Rate 2006 - 2010',
       'Average Adjusted Rate Lower CI', 'Average Adjusted Rate Upper CI',
       'Adjusted Rate Rank',
       'Average Annual Years of Potential Life Lost (YPLL) Rate 2006 - 2010',
       'YPLL Rate RANK', 'WARNING'],
      dtype='object')

In [70]:
len(deaths) - deaths.count()

Cause of Death                                                           0
Community Area                                                           0
Community Area Name                                                      0
Cumulative Deaths 2006 - 2010                                            0
Cumulative Deaths Rank                                                  18
Average Annual Deaths 2006 - 2010                                        0
Average Crude Rate 2006 - 2010                                           0
Average Crude Rate Lower CI                                              0
Average Crude Rate Upper CI                                              5
Crude Rate Rank                                                         18
Average Adjusted Rate 2006 - 2010                                        0
Average Adjusted Rate Lower CI                                           5
Average Adjusted Rate Upper CI                                           5
Adjusted Rate Rank                                                      18
Average Annual Years of Potential Life Lost (YPLL) Rate 2006 - 2010      0
YPLL Rate RANK                                                          18
WARNING                                                                982
dtype: int64

In [71]:
deaths

,Cause of Death,Community Area,Community Area Name,Cumulative Deaths 2006 - 2010,Cumulative Deaths Rank,Average Annual Deaths 2006 - 2010,Average Crude Rate 2006 - 2010,Average Crude Rate Lower CI,Average Crude Rate Upper CI,Crude Rate Rank,Average Adjusted Rate 2006 - 2010,Average Adjusted Rate Lower CI,Average Adjusted Rate Upper CI,Adjusted Rate Rank,Average Annual Years of Potential Life Lost (YPLL) Rate 2006 - 2010,YPLL Rate RANK,WARNING
0,All Causes,1,Rogers Park,1741,22.0,348,614.2,585.3,643.1,51.0,895.2,852.2,939.3,29.0,7128,37.0,NaN
1,All Causes,2,West Ridge,2612,5.0,522,723.6,695.8,751.4,42.0,689.9,663.3,717.1,58.0,6123,49.0,NaN
2,All Causes,3,Uptown,2542,6.0,508,879.6,845.4,913.8,31.0,934.0,897.5,971.2,24.0,9147,31.0,NaN
3,All Causes,4,Lincoln Square,1108,40.0,222,547.0,514.8,579.2,60.0,698.7,657.4,741.3,53.0,5344,62.0,NaN
4,All Causes,5,North Center,690,59.0,138,433.0,400.7,465.3,68.0,681.2,630.1,734.3,61.0,4058,74.0,NaN
5,All Causes,6,Lake View,1914,14.0,383,405.3,387.1,423.5,70.0,599.5,572.2,627.5,70.0,3281,76.0,NaN
6,All Causes,7,Lincoln Park,1424,30.0,285,443.9,420.8,467.0,67.0,698.7,662.0,736.5,53.0,2962,77.0,NaN
7,All Causes,8,Near North Side,2054,10.0,411,520.3,497.8,542.8,62.0,518.9,496.2,542.1,77.0,4481,70.0,NaN
8,All Causes,9,Edison Park,520,65.0,104,928.5,848.7,1008.3,24.0,649.9,593.9,708.4,66.0,5554,59.0,NaN
9,All Causes,10,Norwood Park,2372,7.0,474,1276.9,1225.5,1328.3,4.0,699.6,669.5,730.4,52.0,5994,52.0,NaN
10,All Causes,11,Jefferson Park,1175,37.0,235,920.5,867.9,973.1,25.0,725.7,684.3,768.2,46.0,7090,38.0,NaN
11,All Causes,12,Forest Glen,726,55.0,145,787.4,730.1,844.7,38.0,572.5,531.0,615.6,74.0,4136,73.0,NaN
12,All Causes,13,North Park,702,57.0,140,777.9,720.4,835.4,39.0,551.2,510.3,593.7,75.0,4424,72.0,NaN
13,All Causes,14,Albany Park,1251,34.0,250,474.2,447.9,500.5,64.0,680.9,642.8,720.1,62.0,4913,69.0,NaN
14,All Causes,15,Portage Park,2199,8.0,440,683.3,654.7,711.9,47.0,693.2,664.3,722.8,56.0,6692,42.0,NaN
15,All Causes,16,Irving Park,1542,26.0,308,566.7,538.4,595.0,57.0,742.8,705.4,781.2,41.0,6265,47.0,NaN
16,All Causes,17,Dunning,1818,17.0,364,866.2,826.4,906.0,32.0,672.4,641.4,704.1,64.0,6230,48.0,NaN
17,All Causes,18,Montclaire,558,61.0,112,841.0,771.2,910.8,34.0,736.6,675.5,800.3,43.0,6574,43.0,NaN
18,All Causes,19,Belmont Cragin,1838,16.0,368,467.5,446.1,488.9,65.0,693.2,660.9,726.4,56.0,5989,53.0,NaN
19,All Causes,20,Hermosa,484,68.0,97,381.3,347.3,415.3,73.0,652.3,591.0,716.5,65.0,6392,46.0,NaN
20,All Causes,21,Avondale,922,45.0,184,460.7,431.0,490.4,66.0,707.8,661.0,756.2,51.0,6003,51.0,NaN
21,All Causes,22,Logan Square,1461,29.0,292,390.8,370.8,410.8,71.0,718.2,679.9,757.5,48.0,5153,64.0,NaN
22,All Causes,23,Humboldt park,1816,18.0,363,623.8,595.1,652.5,50.0,958.9,911.1,1007.9,23.0,11694,23.0,NaN
23,All Causes,24,West Town,1800,19.0,360,432.3,412.3,452.3,69.0,738.0,703.2,773.6,42.0,5249,63.0,NaN
24,All Causes,25,Austin,4635,1.0,927,906.0,879.9,932.1,27.0,1082.5,1050.3,1115.2,10.0,14206,13.0,NaN
25,All Causes,26,West Garfield Park,1002,43.0,200,1054.5,989.2,1119.8,17.0,1254.4,1176.5,1334.7,2.0,18401,1.0,NaN
26,All Causes,27,East Garfield Park,959,44.0,192,929.7,870.9,988.5,23.0,1127.0,1055.6,1200.8,7.0,15648,7.0,NaN
27,All Causes,28,Near West Side,1282,33.0,256,482.1,455.7,508.5,63.0,793.4,748.9,839.2,37.0,6778,39.0,NaN
28,All Causes,29,North Lawndale,1595,24.0,319,860.2,818.0,902.4,33.0,1061.9,1009.7,1115.4,12.0,15106,8.0,NaN
29,All Causes,30,South Lawndale,1167,38.0,233,285.9,269.5,302.3,77.0,588.0,551.1,626.0,71.0,5114,66.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,Suicide (intentional self-harm),49,Roseland,9,33.0,2,3.9,1.8,7.4,61.0,3.9,1.8,6.9,62.0,127,62.0,"Rate, confidence interval, and YPLL estimates ..."
1375,Suicide (intentional self-harm),50,Pullman,3,65.0,1,7.8,1.6,22.8,23.0,7.0,1.4,16.9,29.0,158,56.0,"Rate, confidence interval, and YPLL estimates ..."
1376,Suicide (intentional self-harm),51,South Deering,8,40.0,2,10.3,4.4,20.3,9.0,12.0,5.1,21.6,3.0,298,16.0,"Rate, confidence interval, and YPLL estimates ..."
1377,Suicide (intentional self-harm),52,East Side,6,51.0,1,5.2,1.9,11.3,45.0,5.6,2.0,10.9,46.0,102,65.0,"Rate, confidence interval, and YPLL estimates ..."
1378,Suicide (intentional self-harm),53,West Pullman,11,31.0,2,7.1,3.5,12.7,28.0,8.1,4.0,13.6,22.0,259,25.0,"Rate, confidence interval, and YPLL estimates ..."
1379,Suicide (intentional self-harm),54,Riverdale,3,65.0,1,8.4,1.7,24.5,19.0,8.9,1.7,22.0,15.0,405,3.0,"Rate, confidence interval, and YPLL estimates ..."
1380,Suicide (intentional self-harm),55,Hegewisch,2,69.0,0,4.2,0.5,15.2,59.0,4.1,0.5,11.4,61.0,109,64.0,"Rate, confidence interval, and YPLL estimates ..."
1381,Suicide (intentional self-harm),56,Garfield Ridge,20,13.0,4,11.5,7.0,17.8,5.0,11.1,6.7,16.5,5.0,348,8.0,NaN
1382,Suicide (intentional self-harm),57,Archer Heights,2,69.0,0,3.0,0.4,10.8,69.0,3.5,0.4,9.7,68.0,68,74.0,"Rate, confidence interval, and YPLL estimates ..."
1383,Suicide (intentional self-harm),58,Brighton Park,17,16.0,3,7.5,4.4,12.0,26.0,8.7,4.9,13.4,17.0,268,22.0,"Rate, confidence interval, and YPLL estimates ..."
1384,Suicide (intentional self-harm),59,McKinley Park,3,65.0,1,3.8,0.8,11.1,63.0,4.3,0.8,10.7,57.0,82,73.0,"Rate, confidence interval, and YPLL estimates ..."
1385,Suicide (intentional self-harm),60,Bridgeport,15,21.0,3,9.3,5.2,15.3,15.0,8.8,4.9,13.8,16.0,329,12.0,"Rate, confidence interval, and YPLL estimates ..."
1386,Suicide (intentional self-harm),61,New City,6,51.0,1,2.6,1.0,5.7,73.0,3.1,1.1,6.1,72.0,87,72.0,"Rate, confidence interval, and YPLL estimates ..."
1387,Suicide (intentional self-harm),62,West Elsdon,9,33.0,2,10.2,4.7,19.4,10.0,11.8,5.3,20.8,4.0,313,13.0,"Rate, confidence interval, and YPLL estimates ..."
1388,Suicide (intentional self-harm),63,Gage Park,9,33.0,2,4.5,2.1,8.5,52.0,6.6,2.8,12.0,34.0,128,61.0,"Rate, confidence interval, and YPLL estimates ..."
1389,Suicide (intentional self-harm),64,Clearing,8,40.0,2,7.0,3.0,13.8,29.0,6.9,3.0,12.5,30.0,198,38.0,"Rate, confidence interval, and YPLL estimates ..."
1390,Suicide (intentional self-harm),65,West Lawn,9,33.0,2,5.5,2.5,10.4,44.0,6.5,2.9,11.4,36.0,187,41.0,"Rate, confidence interval, and YPLL estimates ..."
1391,Suicide (intentional self-harm),66,Chicago Lawn,11,31.0,2,3.9,1.9,7.0,61.0,3.6,1.8,6.1,67.0,188,40.0,"Rate, confidence interval, and YPLL estimates ..."
1392,Suicide (intentional self-harm),67,West Englewood,15,21.0,3,8.0,4.5,13.2,22.0,8.2,4.5,12.9,21.0,249,29.0,"Rate, confidence interval, and YPLL estimates ..."
1393,Suicide (intentional self-harm),68,Englewood,7,45.0,1,4.3,1.7,8.9,55.0,5.1,2.0,9.6,48.0,155,57.0,"Rate, confidence interval, and YPLL estimates ..."
1394,Suicide (intentional self-harm),69,Greater Grand Crossing,8,40.0,2,4.7,2.0,9.3,51.0,4.5,1.9,8.3,55.0,148,58.0,"Rate, confidence interval, and YPLL estimates ..."
1395,Suicide (intentional self-harm),70,Ashburn,4,61.0,1,2.0,0.5,5.1,76.0,1.9,0.5,4.3,76.0,68,74.0,"Rate, confidence interval, and YPLL estimates ..."
1396,Suicide (intentional self-harm),71,Auburn Gresham,12,28.0,2,4.8,2.5,8.4,48.0,4.8,2.4,7.9,51.0,172,49.0,"Rate, confidence interval, and YPLL estimates ..."
1397,Suicide (intentional self-harm),72,Beverly,7,45.0,1,6.9,2.8,14.2,31.0,7.4,2.9,14.0,26.0,212,37.0,"Rate, confidence interval, and YPLL estimates ..."
1398,Suicide (intentional self-harm),73,Washington Heights,5,57.0,1,3.7,1.2,8.6,64.0,3.7,1.2,7.8,66.0,95,69.0,"Rate, confidence interval, and YPLL estimates ..."
1399,Suicide (intentional self-harm),74,Mount Greenwood,6,51.0,1,6.3,2.3,13.7,37.0,6.4,2.3,12.5,38.0,181,43.0,"Rate, confidence interval, and YPLL estimates ..."
1400,Suicide (intentional self-harm),75,Morgan Park,4,61.0,1,3.5,1.0,9.0,65.0,3.9,1.1,8.6,62.0,175,47.0,"Rate, confidence interval, and YPLL estimates ..."
1401,Suicide (intentional self-harm),76,O'Hare,8,40.0,2,12.7,5.5,25.0,1.0,13.3,5.6,24.1,2.0,349,7.0,"Rate, confidence interval, and YPLL estimates ..."
1402,Suicide (intentional self-harm),77,Edgewater,32,4.0,6,11.1,7.6,15.7,7.0,10.1,6.9,13.9,9.0,332,11.0,NaN
1403,Suicide (intentional self-harm),0,Chicago,886,NaN,177,6.5,6.1,6.9,NaN,6.5,6.1,6.9,NaN,211,NaN,NaN

In [72]:
deaths = deaths.dropna()

In [73]:
len(deaths) - deaths.count()

Cause of Death                                                         0
Community Area                                                         0
Community Area Name                                                    0
Cumulative Deaths 2006 - 2010                                          0
Cumulative Deaths Rank                                                 0
Average Annual Deaths 2006 - 2010                                      0
Average Crude Rate 2006 - 2010                                         0
Average Crude Rate Lower CI                                            0
Average Crude Rate Upper CI                                            0
Crude Rate Rank                                                        0
Average Adjusted Rate 2006 - 2010                                      0
Average Adjusted Rate Lower CI                                         0
Average Adjusted Rate Upper CI                                         0
Adjusted Rate Rank                                                     0
Average Annual Years of Potential Life Lost (YPLL) Rate 2006 - 2010    0
YPLL Rate RANK                                                         0
WARNING                                                                0
dtype: int64

In [74]:
deaths['Cause of Death'].value_counts()

Suicide (intentional self-harm)                                 64
Prostate cancer in males                                        49
Liver disease and cirrhosis                                     48
Firearm-related                                                 47
Assault (homicide)                                              43
Alzheimers disease                                              41
Breast cancer in females                                        36
Colorectal cancer                                               24
Kidney disease (nephritis, nephrotic syndrome and nephrosis)    22
Diabetes-related                                                17
Injury, unintentional                                           16
Stroke (cerebrovascular disease)                                 5
Lung cancer                                                      5
Name: Cause of Death, dtype: int64

In [86]:
import geopandas